header {
    position: fixed;
    width: -webkit-fill-available;
    top: 0;
    left: 0;

    margin: 0;

    background-color: whitesmoke;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3),
        inset 0 -4px 14px rgba(0, 0, 0, 0.3);
}

header a, header p {
    color: #242424;
}

.site-header {
    display: flex;
    align-items: center;
}

.site-header a {
    text-decoration: none;
    padding: 12px 16px;
    border-bottom: 4px solid transparent;

    transition: all .15s;
} .site-header a:hover {
    border-bottom: 4px solid #181818;
} 
.site-header .active {
    border-bottom: 4px solid #181818;
}

.write-date-here {
    margin: 0 20px;
}

@media (min-width: 571px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media (min-width: 280px) and (max-width: 602px) {
    header {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
    header p {
        text-align: center;
        padding: 8px;
        margin: 0;
    }
    .site-header {
        justify-content: center;
    }
}
@media (min-width: 280px) and (max-width: 318px) {
    .head-btns li a {
        padding: 8px 10px;
    }
}