@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: 'Hanken Grotesk', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 800;
    color: whitesmoke;
}

.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
    font-family: 'Hanken Grotesk', 'Helvetica Neue', Arial, sans-serif;
    text-shadow: 0 0 10px #141E30;
    font-weight: 600;
    color: whitesmoke;
}
.lead {
    font-weight: 500;
    font-size: 1.5rem;
    text-shadow: 0 0 10px #141E30;
}

body {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p, a, button, .btn, input {
    font-family: 'Public Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    color: whitesmoke;
}

[class*="btn"] {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
        inset -2px -2px 10px rgba(0, 0, 0, 0.2);
}
[class*="btn-outline"] {
    border-color: transparent;
}

main {
    height: 3000px;
}