footer {
    background-color: rgba(0, 0, 0, 30%);
    width: -webkit-fill-available;
} footer p {

    color: white;
}

.footer-site {
    display: flex;
    align-items: center;
    justify-content: center;
}