.house-card-type-1 {
    background-color: #fff;
    position: relative;
    z-index: 5;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    cursor: pointer;

    box-shadow: 0 4px 13px rgba(0, 0, 0, 20%);

    transition: all .15s;
} .house-card-type-1:hover {

    box-shadow: 0 2px 5px rgba(0, 0, 0, 35%);
}

.house-card-type-1 img {
    width: 100%;
    height: 240.4px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.rental-details {
    padding: 16px;
    padding-top: 4px;
    margin: 0;
} .rental-details hr {
    margin: 3px 0;
    margin-top: 0;
}

.house-card-type-1 .house-location {
    font-size: 24px;
    margin: 6px 0 8px;
}
.house-card-type-1 .house-availability, .house-card-type-1 .beds-and-toilets {
    font-size: 15px;
    opacity: 50%;
    line-height: 8px;
    margin: 5px 0;
}

.beds-and-toilets {
    display: flex;
    align-items: center;
} .beds-and-toilets .material-symbols-outlined {
    margin: 0 5px;
} .beds-and-toilets .divisor {
    margin: 0 10px;
}

.house-card-type-1 .btn-sec {
    margin-top: 15px;
    display: flex;
    justify-content: end;
    flex: 1;
}

.favorite-house {
    position: absolute;
    z-index: 6;
    top: -2px;
    right: -3px;

} .favorite-house img {
    border-radius: 0;

    width: 42.52px;
    height: 37.46px;
}

/***********************************************************************************/

.most-rented-title {
    display: flex;
    align-items: baseline;
} .most-rented-title h1 {
    margin-top: 0;
    margin-right: 20px;
} .most-rented-title a {
    font-weight: 300;
    color: black;
    opacity: 60%;
    text-decoration: none;
} .most-rented-title a:hover {
    text-decoration: underline;
} .most-rented-title a:active {
    opacity: 40%;
}

@media (min-width: 360px) and (max-width: 484px) {
    .most-rented-title {
        justify-content: space-between;
    } .most-rented-title h1 {
        font-size: 20px;
    } .most-rented-title a {
        font-size: 12px;
    }
}
@media (min-width: 485px) and (max-width: 739px) {
    .most-rented-title {
        justify-content: space-between;
    } .most-rented-title h1 {
        font-size: 26px;
    } .most-rented-title a {
        font-size: 14px;
    }
}
@media (min-width: 740px) {
    .most-rented-title h1 {
        font-size: 40px;
    } .most-rented-title a {
        font-size: 20px;
    }
}

.most-rented-grid {
    display: grid;
    justify-content: center;
}

@media (min-width: 1081px) {
    .most-rented-grid {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 35px;
        row-gap: 40px;
    }
}
@media (min-width: 741px) and (max-width: 1080px) {
    .most-rented-grid {
        grid-template-columns: 1fr 1fr;
        column-gap: 35px;
        row-gap: 40px;
    }
}
@media (max-width: 740px) {
    .most-rented-grid {
        grid-template-columns: 1fr;
        column-gap: 70px;
        row-gap: 75px;
    }
}