@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  color: rgb(35, 35, 35);
}

.titulo {
    color: red;
  }
  
.images {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}
.images .dish {
  display: flex;
  flex-direction: column;
  text-align: center;
  
  cursor: pointer;
}
.images img {
  width: 100px;
  height: 100px;
  
  object-fit: cover;
  
  margin: 5px;
}
  
footer {
  display: flex;
  justify-content: center;
  text-align: center;

  color: white;
  background-color: rgba(0, 0, 0, 0.7);
} footer p {
  line-height: 5px;
} footer a {
  color: white;
  text-decoration: none;
} footer a:active {
  color: lightgray;
}