.es-9a-9b, .es-9c-9d {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.esercizio-9a {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-color: red;
    margin-right: 25px;
}

.esercizio-9b {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    display: inline-block;
    background-color: green;
}

.esercizio-9c {
    display: inline-block;
    width: 300px;
    border: 1px solid lightgray;
    padding: 20px;
} .esercizio-9c p {
    margin-top: 0;
}

.esercizio-9d {
    display: inline-block;
    width: 302px;
    background-color: #181818;
    padding: 20px;
} .esercizio-9d a {
    text-decoration: none;
    color: rgb(221, 221, 221);

    transition: all .10s;
} .esercizio-9d a:hover {
    color: rgb(200, 200, 200);
} 
.esercizio-9d p {
    color: gray;
    font-size: 13px;
    margin: 0;
} .esercizio-9d h3 {
    margin-top: 0;
}

/******************************************************/

.esercizio-7g {
    display: inline-block;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 3px;

    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.3);
}
.esercizio-7g img {
    width: 36px;
    object-fit: cover;
    border-radius: 36px;
    vertical-align: middle;
}
.esercizio-7g input {
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    width: 225px;
    vertical-align: middle;
}
.esercizio-7g .twitter-tweet {
    vertical-align: middle;
}

/******************************************************/

.esercizio-9f {
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.3);
    display: inline-block;
    margin-right: 30px;
    border-radius: 3px;
}
.esercizio-9f img {
    width: 190px;
    border-radius: 3px 3px 0 0;
}
.esercizio-9f .nome {
    font-weight: bold;
    margin-top: 9px;
    margin-bottom: 4px;
    font-size: 15px;
}
.esercizio-9f .frens {
    color: lightgray;
    margin-top: 0;
    font-size: 13px;
} .esercizio-9f .add-fren {
    background: rgb(13, 99, 146);
    color: white;
    padding: 9px 13px;
    border: none;
    border-radius: 5px;
    margin-top: 0;
    font-size: 12px;
} 
.es9f-parte2 {
    padding: 15px;
    padding-top: 0;
}

.massa-di-gatti {
    display: flex;
    align-items: start;
}

/******************************************************/

.esercizio-13a {
    display: flex;
}

.es13a-pt-1 {
    background: lightcoral;
    width: 100px;
    display: flex;
    justify-content: center;
}
.es13a-pt-1 p {
    text-align: center;
    color: white;
    background: black;
}
.es13a-pt-2 {
    width: 200px;
    background: lightblue;
}

.esercizio-13b {
    width: 300px;
    display: flex;
}
.es13b-pt-1 {
    width: 100px;
    background: lightcoral;
}
.es13b-pt-2 {
    width: 200px;
    background: lightblue;
} .es13b-pt-2 p {
    margin: 0;
}

.es13b-pt-2-2 {
    display: flex;
    justify-content: space-between;
} .es13b-pt-2-2 p {
    margin: 0;
    margin-bottom: 16px;
    color: white;
    background: black;
}

.esercizio-13c {
    display: inline-block;
    background: #f9f9f9;
    padding: 13px;
    width: 400px;
    box-shadow: 0 0 5px rgba(0,0,0, 20%);
}
.e13c-mail {
    flex: 1;
} .e13c-mail p {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 14px;
    color: lightgray;
}

.e13c-incoming-mail {
    display: flex;
    margin-top: 15px;
    margin-bottom: 10px;

} .e13c-mail-details {
    flex: 1;
    cursor: pointer;
}

.e13c-sender-propic {
    width: 45px;
    margin: 0;
    padding: 0 10px 0 5px;
}
.e13c-sender-propic img {
    width: 100%;
    border-radius: 22.5px;
    margin: 0;
}

.e13c-sender-and-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
} .e13c-sender {
    font-weight: bold;
    margin: 0;
} .e13c-time {
    color: lightgray;
    margin: 0;
    font-size: 14px;
}

.e13c-title-and-contents p {
    margin: 0;
    font-size: 15px;
} .e13c-title {
    line-height: 20px;
    font-weight: bold;
} .e13c-content {
    color: lightgray;
}