.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background: radial-gradient( circle 976px at 51.2% 51%,  
    rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, 
    rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, 
    rgba(187,187,187,1) 100.2% );
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #00142f;
  font-size: 8rem;
  color: #8b8dff;
}

p {
  font-size: 2rem;
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
} img:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.button-zone {
  display: flex;
  align-items: center;
  justify-content: center;
}

.click-and-roll {
  margin-top: 20px;
  padding: 10px 16px;
  background-color: #5a89e1;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity .15s;
} .click-and-roll:active {
  opacity: 60%;
}