.site-header {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;

    top: 0;
    position: fixed;
    width: 100%;
    
    box-shadow: inset 0px 20px 40px -29px rgba(0,0,0,1);
}

.fa {
    padding: 20px;
    margin: 0 7px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;

    transition: all .20s;
} .fa:hover {
    background-color: rgba(255, 255, 255, 0.055);
}

/******************************************************************************************/

.section-1 {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.site-logo {
    display: flex;
    align-items: center;
    cursor: pointer;

} .site-logo img {
    width: 100%;
}
.section-2 {
    margin-right: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.header-redirects {
    font-size: 22px;
    margin: 0 7px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 35px;

    transition: all .20s;
} .header-redirects:hover {
    background-color: rgba(255, 255, 255, 0.055);
}