@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,600;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,600;1,600&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Hanken Grotesk', Arial, sans-serif;
    color: #fff;
}
p, a, button {
    font-family: 'Jost', Arial, sans-serif;
    font-weight: 400;
    color: #fff;
}
strong {
    font-weight: 600;
    color: #fff;
}
.first-hr {
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin: 0 40px 40px 40px;
}
body {
    background: linear-gradient(to right, #16356e, #477bdc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
}

/******************************************************************************************/

.main-festival-banner {
    background: url(../img/bg/mio-fratello.png);
    min-width: 1014px;
    max-width: 1800px;
    min-height: 620px;
    max-height: 890px;
    border-bottom: 20px solid #325ba7;
    box-shadow: 0 20px 30px #16356e;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.main-festival-banner .festival-banner-presentation {
    font-size: 72px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 80px;

    text-shadow: 0 2px 2px #242424;
}
.main-festival-banner .festival-banner-details {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 15px;

    text-shadow: 0 2px 2px #242424;
}
.main-festival-banner .banner-button {
    border-radius: 80px;
    border: none;
    margin: 0;
    min-width: 150px;
    height: 55px;
    cursor: pointer;
    margin: 0 10px;

    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 32px;
    box-shadow: 35px 35px 68px 0px rgba(36, 36, 36, 0.5),
        inset -8px -8px 16px 0px rgba(36, 36, 36, 0.6),
        inset 0px 11px 28px 0px rgb(255, 255, 255);
} .main-festival-banner .banner-button:hover {
    background: rgba( 36, 36, 36, 0.7 );
} .main-festival-banner .banner-button:active {
    background: rgba( 36, 36, 36, 1 );
}

.banner-button p {
    font-size: 22px;
    margin: 0;
}

/******************************************************************************************/

.under-main-banner {
    margin: 100px;
}
