@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,600;0,700;1,600;1,700&display=swap');

p, a, button, input {
    font-family: 'DM Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Hanken Grotesk', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
}

body {
    background: #f9f9f9;
}

[class*="btn"] {
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4),
    inset 2px -2px 10px rgba(0, 0, 0, 0.4);

    border-style: none;
} [class*="btn"]:active {
    opacity: 75%;
}

[class*="btn-outline"] {
    border-style: solid;
    background: #f9f9f9;
    border-width: 3px;
}